@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

.book{
    display:flex;
    align-items:center;
    justify-content: center;
   height: 500px;
    background:#9B59B6;
    width: 700px;

}

.wrapper{
 
    background: #fff;
    height: 480px;
}

.wrapper2{
    height: 480px;
    background: #fff; 
   
}

.wrapper, .wrapper2 {
  
   
    display: inline-block;
    width: 50%; /* Adjust width as needed */
    box-sizing: border-box;
    padding: 10px; /* Optional: Add padding */
  }

.wrapper2 p{
    text-align: center;
    font-size: 23px;
    margin-top: 30px;
    height: auto;
}

.time-button{
    border: none;
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: 120px;
    font-size: 20px;
    top: 30px;
    background: #fff;
    margin-top: 10px;

}

.time-button.Timeselected {
    background:#9B59B6; /* Change the background color for the selected button */
  }

  .time-button:hover{
    background: #f2f2f2;
}

.wrapper header{
    display:flex;
    align-items: center;
    padding:25px 30px 10px;
    justify-content: space-between;
}

header .current-date{
    font-size:1.45rem;
    font-weight: 500;


}

header .icons span{
    height: 38px;
    width:38px;
    color:#878787;
    font-size:1.9rem;
    margin: 0 1px;
    cursor:pointer;
    text-align:center;
    line-height: 38px;
    border-radius: 50%;
    background: #f2f2f2;
}
header .icons span:hover{
    background: #f2f2f2;
}
header .icons span:last-child{
    margin-right:-10px;

}

.calendar{
    padding:20px;
}

.calendar ul{
    display:flex;
    list-style:none;
    flex-wrap:wrap;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .weeks li{
    font-weight: 500;

}



.calendar ul li{
    position:relative;
    width: calc(100%/7);

}

.calendar .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.days li.inactive{
    color:#aaa;

}

.days li.active{
    color:#fff;

}

.calendar .days li::before{
    position:absolute;
    content:"";
    height: 40px;
    width:40px;
    top:50%;
    left:50%;
    z-index:-1;
    border-radius: 50%;
    transform:translate(-50%,-50%);
    
}

.days li:hover::before{
    background:#f2f2f2;
}

.days li.active::before{
    background: #9B59B6;
}

