@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}



.book{
    display:flex;
    align-items:center;
    justify-content: center;
   
    position: fixed;
    top: 10%;
    left: 25%;
 display: none;
    width: 700px;
    z-index: 999;
    
}

.wrapper{
    border-radius: 20px;
    background: #f1eeee;
    height: 480px;
}

.wrapper2{
    height: 480px;
    background: #f1eeee;
    overflow-y: scroll;
    border-radius: 20px;
}

.wrapper, .wrapper2 {
    display: inline-block;
    width: 50%; /* Adjust width as needed */
    box-sizing: border-box;
    padding: 10px; /* Optional: Add padding */
  }

.wrapper2 p{
    text-align: center;
    font-size: 23px;
   
    height: auto;
    
}

.time{
    overflow: hidden;
    height: 480px;
    margin-top: 70px;
}

.time-button{
    border: none;
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: 120px;
    font-size: 20px;
    top: 30px;
    background: #fff;
    margin-top: 10px;
    overflow: hidden;

}

.time-button.Timeselected {
    background:#9B59B6; /* Change the background color for the selected button */
  }

  .time-button:hover{
    background: #cecaca;
}

.TimeHeader{
    position: fixed;
    background: #f1eeee;
    top:10%;
}

.SelectedDayTime{
   position: fixed;
   top: 83%;
   left: 67%;
   width: 100px;
   height: 30px;
}

#PleaseSelectTime{
    position: fixed;
    font-size: 25px;
    left: 41%;
    color: red;
}

#SelectedTime{
    position: fixed;
    font-size: 21px;
    left: 65%;
    top:55%;
    color: red;
}

#newClass{
    font-size: 1px;
    left: 6%;
}

#SelectedDate{
    position: fixed;
    font-size: 21px;
    left: 64%;
    top:50%
}

.toggle_btn{
    margin-left: 300px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}

.toggle_btn:hover{
    background: #cecaca;
    border-radius: 20%;
}
.wrapper header{
    display:flex;
    align-items: center;
    padding:25px 30px 10px;
    justify-content: space-between;
}

header .current-date{
    font-size:1.45rem;
    font-weight: 500;
    margin-top: 16px;


}

header .icons span{
    height: 38px;
    width:38px;
    color:#878787;
    font-size:1.9rem;
    margin: 0 1px;
    cursor:pointer;
    text-align:center;
    line-height: 38px;
    border-radius: 50%;
    background: #f2f2f2;
    margin-top: 16px;
}
header .icons span:hover{
    background:#cecaca;
}

header .icons span:last-child{
    margin-right:-10px;

}

.calendar{
    padding:20px;
}

.calendar ul{
    display:flex;
    list-style:none;
    flex-wrap:wrap;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .weeks li{
    font-weight: 500;

}



.calendar ul li{
    position:relative;
    width: calc(100%/7);

}

.calendar .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.days li.inactive{
    color:#aaa;

}

.days li.active{
    color:#fff;

}

.calendar .days li::before{
    position:absolute;
    content:"";
    height: 40px;
    width:40px;
    top:50%;
    left:50%;
    z-index:-1;
    border-radius: 50%;
    transform:translate(-50%,-50%);
    
}

.days li:hover::before{
    background:#cecaca;
}



.days li.active::before{
    background: #9B59B6;
}


.form{
    
    align-items:center;
    justify-content: center;
    background: #f1eeee;
    position: fixed;
    top: 10%;
    left: 25%;
    height: 480px;
    width: 700px;
    border-radius: 20px;

}

.formInput{
    margin-top: 15px;
    margin-left: 20px;
    
}

.formInput:first-child {
    margin-top: 40px; /* Adjust this value according to your needs */
}

.formInput input{
    height: 30px;
    width: 220px;
    margin-left: 0; /* Set margin-left to 0 to avoid unnecessary space */
    display: block; /* Ensure each input is on a new line */
    margin-bottom: 10px; /* Add some space between input elements */
    box-sizing: border-box; 
    border-color: rgb(2, 2, 2);
}

#ValidName{
    color: red;
    font-size: 15px;
}

#ValidNumber{
    color: red;
    font-size: 15px;
}

#DateTime{
    height: 30px;
    width: 220px;
    font-size: 18px;
    border-color: rgb(2, 2, 2);
}

.image{
    width: 230px;
    position: fixed;
    font-size: 21px;
    left: 54%;
    top:29%;
}

#SelectedDate1{
    position: fixed;
    font-size: 21px;
    left: 56%;
    top:56%;
}

#SelectedTime1{
    position: fixed;
    font-size: 21px;
    left: 57%;
    top:61%;
}

#submit{
    width:130px;
    height: 35px;
    margin-top: 20px;
    margin-left: 250px;
    border-radius: 50px;
    background: #7cb8f0;
    font-size: 20px;
}

.ConfirmInfo{
   
    align-items:center;
    justify-content: center;
    background: #f1eeee;
    position: fixed;
    top: 10%;
    left: 25%;
    height: 480px;
    width: 700px;
    border-radius: 20px;

}

.ConfirmInfo h1{
    text-align: center;
    margin-top: 30px;
    
}

.confirm{
    margin-left:60px;
    font-size: 20px;
    margin-top: 10px;
   
}

#conName{
    margin-top: 40px; /* Adjust this value according to your needs */
}

